@using BusinessObject
@model Author

@{
    ViewBag.Title = "Delete " + Model.FirstName + " " + Model.LastName;
    Layout = "_Layout";
}

<h2>Delete @ViewBag.Title</h2>

<form asp-action="Delete" method="post">
    <input hidden asp-for="Id"/>
    <div class="border">
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input disabled asp-for="FirstName" class="form-control" value="@Model.FirstName"/>
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input disabled asp-for="LastName" class="form-control" value="@Model.LastName"/>
        </div>
        <div class="mb-3">
            <label asp-for="Phone"></label>
            <input disabled asp-for="Phone" class="form-control" value="@Model.Phone"/>
        </div>
        <div class="mb-3">
            <label asp-for="EmailAddress"></label>
            <input disabled asp-for="EmailAddress" class="form-control" value="@Model.EmailAddress"/>
        </div>
        <div class="mb-3">
            <label asp-for="Address"></label>
            <input disabled asp-for="Address" class="form-control" value="@Model.Address"/>
        </div>

        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-action="Index">Back to List</a>
    </div>
</form>